{% extends "base.html" %}
 {% block Main %}
<main>
  <div>
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Login</button>
    </form>
  </div>
</main>
{% endblock Main %}
