<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Base</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if request.user.is_authenticated %}
          <li>
            <a href={% url "show_my_tasks" %}>My tasks</a>
          </li>
          <li>
            <a href={% url "list_projects" %}>My projects</a>
          </li>
          <li>
            <a href={% url "logout" %}>Logout</a>
          </li>
          {% else %}
          <li>
            <a href={% url "login" %}>Login</a>
          </li>
          <li>
            <a href={% url "signup" %}>SignUp</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block Main %}
    {% endblock Main %}
  </body>
  </html>
